<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/catalog.css" />
</head>

<body>
  <%- include('partials/header') %>
    <main>

      <!-- les produits -->
      <section id="catalog">
        <h1>Notre catalogue</h1>
        <div class="articles only-display-3-articles" id="articles-list">
          <% allProducts.forEach(product=> { %>
            <article class="product">
              <img src="/images/coffees/<%= product.reference %>.png" alt="product" />
              <h2>
                <%= product.name %>
              </h2>
              <p>Origine : <%= product.origin %>
              </p>
              <p>Prix au kilo : <%= product.price %>€</p>
              <a class="button-outline" href="/product/<%= product.id %>">Découvrir</a>
            </article>
          <% }) %>
            </div>

      </section>
    </main>
    <%-include('partials/footer') %>
</body>

</html>